* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.logo {
    padding: 13px;
}

.logo img {
    width: 160px;
    height: auto;
}

.selection {
    width: 100%;
    background-color: #86d2eb;
    display: flex;
    justify-content: center;
    padding: 25px;
}

.elements {
    height: 85.4vh;
    background-color: rgb(219, 219, 219);
    padding: 65px;
}

.pattern {
    padding: 11px;
    background-color: white;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.elements ul li {
    padding: 20px;
    display: inline-block;
}

.pattern i {
    height: 77px;
    width: auto;
    line-height: 72px;
    font-size: 30px;
}